@charset "UTF-8";

body {
	background-color: rgb(172, 255, 255);
}

.topnav {
    text-align:center;
	padding: 20px;
}
a {
	padding: 10px;
	font-size: 120%;
}	
a.enlaces {
	display: block;
	background-color: white;
	
}
a.enlaces:hover{
	background-color: blue;
}
a:hover {
	background: yellow;
	color: white;
}
img {
	position: absolute;
	right: 0;	
	width: 200px;  
}

h1 {
	text-align: center;
	font-size: 70px;
	color: blue
}
h1::first-letter{
	color: black;
	font-size: 200%;
}


p::first-line{
	color: red;
}

li {
	list-style: num;
}
